name: Unittest
on:
  push:
    branches-ignore:
      - master
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        java: ['8', '11', '16']
        scala: ["2.13.5", "2.12.14", "2.11.12"]

    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup Scala
        uses: olafurpg/setup-scala@v10
        with:
          java-version: "adopt@1.${{ matrix.java }}"
      - name: Build and Test
        run: sbt -v -Dfile.encoding=UTF-8 "++${{ matrix.scala }} test"
        shell: bash
      - name: Test API
        if: ${{ matrix.scala != '2.11.12' }}
        run: sbt -v -Dfile.encoding=UTF-8 "++${{ matrix.scala }}; project api; test"